.root{
    -fx-background-color: white;
}
.toggle-button{
          -fx-text-fill: green;
          -fx-background-color: white;
          -fx-border-color: black;
          -fx-border-width: 1px;

}
.toggle-button-corrected{
          -fx-text-fill: red;
          -fx-background-color: white;
          -fx-border-color: black;
          -fx-border-width: 1px;

}
.toggle-button:hover{
    -fx-background-color: #d7d8d9;
}


.toggle-button:selected{
    -fx-background-color: #d7d8d9;

}

.set-button{
      -fx-text-fill: black;
      -fx-background-color: white;
      -fx-border-color: black;
      -fx-border-width: 1px;

}
.set-button:disabled{
    -fx-opacity: 1.0;
    -fx-text-fill: black;

}

.selectedButton{
              -fx-text-fill: blue;
              -fx-background-color: red;
              -fx-border-color: black;
              -fx-border-width: 1px;
}
